.logo{
    width: 200px;
    height: 200px;
    
}
.header{
    text-align: center;
    background-color: rgb(240, 232, 232);
    height: 200px;
    font-family: 'Arial';
}
.footer{
    text-align: center;
    background-color: rgb(240, 232, 232);
    height: 200px;   
}
.textFooter{
    display: inline-block;
    margin-top: 180px;
    margin-bottom: 10px;
    font-weight: 200;
    font-family: 'Arial'; 
}
a {
    text-decoration: none;
    color: #5a5a5a;
}

.categories{
    height: 1000px;
    font-family: 'Arial';
    color: rgb(90,90,90);
}
.categorie{
    float: left;
    margin-left: 20px;
    height: 250px;
    width: 200px;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(42,42,42,0.1);
    cursor: pointer; 
}
button{
    color: aliceblue;
    font-size: 14px;
    border: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}
.delete{
    background-color: rgb(213,67,67);
}
.change{
    background-color: rgb(0,196,147);
}
.buttonCategorie{
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.title{
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.categorie:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.delete:hover{
    background-color: rgb(184,58,58);
}
.change:hover{
    background-color: rgb(0,166,124);
}
.buttonAdd:hover{
    background-color: rgb(31,89,136);
}
h1{
    margin-right: 20px;
    font-size: 22px;
    display: inline-block;
}
h4{
    font-size: 20px;
    margin-bottom: 15px; 
}
.Add{
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 40px; 
}
.buttonAdd{
    height: 40px;
    width: 150px;
    font-size: 18px;
    margin-left: 10px;
    background-color: rgb(39,111,169);
    border-radius: 5px;
}
.inputAdd{
    font-size: 18px;
    padding-left: 5px;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(203, 209, 214);
}
.redBorder{
    border-color: red;
}
.Change{
    width: 140px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.app{
    width: 70px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: teal;
    border-radius: 10px;
    font-size: 18px;
}
.inputAddRecipe{
    margin-left: 20px;
    padding-left: 10px;
}
.Back{
    width: 30px;
    height: 30px;
}
.TitleCategoryRecipe{
    display: inline-block;
    width: 97%;
    text-align: center;
    font-size: 30px; 
}
.TextRecipe{
    text-align: center;
    font-weight: 300;
}
.EditRecipe{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 50px;
    font-size: 20px;
}
.ChangeRecipe{
    text-align: center;
}